{% extends "base.html" %}
{% block content %}



<div class="container">
  <div class="row">
    <div class="col">

    </div>

    <div class="col-9">
        <article class="thankyou">
              <br>
     <br>
  <header>
    <h1>What is AI-SRIEE?</h1>
    <hr>
    <span class="date">  </span>
  </header>
  <div class="full">
    <img src="/static/srieee.png">
  </div>

   <br>   <br>   <br>   <br>
  <p>
    AI System of Rector Collant System Integrity Evaluation under Earthquake Loading
  </p>
  <p>
    Since 2014 we have moved work on other projects and decided to keep Kippt running for people still using it. You can read
    more from
    <a href="http://blog.kippt.com/next-chapter/" target="_blank">our blog post</a>. As time has gone by, our energy towards maintaining Kippt has gone down and the cost of running the
    service has gone up. With a heavy heart we have decided to end the journey of Kippt for now and shut the service down.
  </p>
  <p>
    We would like to thank everyone who has used and supported Kippt during these years. It's been an unforgettable experience
    and we have made countless friends along the way. Thank you.
  </p>
  <p>
    <em>– Jori &amp; Karri</em>
  </p>
</article>

  <article class="thankyou">
              <br>
     <br>
  <header>
    <h1>What is OPR-1000?</h1>
    <hr>
    <span class="date">  </span>
  </header>
  <div class="full">
    <img src="/static/nlp.png">
  </div>

   <br>   <br>   <br>   <br>
  <p>
    AI System of Rector Collant System Integrity Evaluation under Earthquake Loading
  </p>
  <p>
    Since 2014 we have moved work on other projects and decided to keep Kippt running for people still using it. You can read
    more from
    <a href="http://blog.kippt.com/next-chapter/" target="_blank">our blog post</a>. As time has gone by, our energy towards maintaining Kippt has gone down and the cost of running the
    service has gone up. With a heavy heart we have decided to end the journey of Kippt for now and shut the service down.
  </p>
  <p>
    We would like to thank everyone who has used and supported Kippt during these years. It's been an unforgettable experience
    and we have made countless friends along the way. Thank you.
  </p>
  <p>
    <em>– Jori &amp; Karri</em>
  </p>
</article>

    </div>
    <div class="col">

    </div>
</div>
     <br>
     <br>
     <br>









{% endblock %}